<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persoa {{nome}}</title>
</head>
<body>
    <h1>Detalles da persoa "{{nome}}"</h1>
    <p>Código: {{codigo}}</p>

    <h2>Tarefas pendentes</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Tarefa</th>
                <th>Inicio</th>
                <th>Vencimento</th>
            </tr>
        </thead>
        <tbody>
            {% for t in tarefas %}
            <tr>
                <td><a href="/tarefas/{{t[0]}}">{{t[1]}}</a></td>
                <td>{{t[2]}}</td>
                <td>{{t[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>