<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefa {{nome}}</title>
</head>
<body>
    <h1>Detalles da tarefa "{{nome}}"</h1>
    <p>Data de inicio: {{inicio}}</p>
    <p>Data de vencimento: {{vencimento}}</p>

    {% if fin %}
    <p>Data de fin: {{fin}}</p>
    {% else %}
    <form action="/tarefas/{{id}}/completar" method="post">
        <button type="submit">Completar tarefa</button>
    </form>
    {% endif %}

    <h2>Colaboradores</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for p in persoas %}
            <tr>
                <td><a href="/persoas/{{p[0]}}">{{p[1]}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Intervencións</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Persoa</th>
                <th>Inicio</th>
                <th>Fin</th>
            </tr>
        </thead>
        <tbody>
            {% for v in intervencions %}
            <tr>
                <td><a href="/persoas/{{v[0]}}">{{v[1]}}</a></td>
                <td>{{v[2]}}</td>
                <td>{{v[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>