<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proxectos</title>
</head>
<body>
    <h1>Proxectos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Proxecto</th>
                <th>Data de inicio</th>
                <th>Data de fin</th>
            </tr>
        </thead>
        <tbody>
            {% for p in proxectos %}
            <tr>
                <td><a href="/proxectos/{{p[0]}}">{{p[1]}}</a></td>
                <td>{{p[2]}}</td>
                <td>{{p[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>